<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="main-menu">
 <md-content layout-padding>
    <md-list>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Login</md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Choose a Category</md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Register as NGO</md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Help to Translate</md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Add an Offer</md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Questions & Answers</md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="" ui-sref="app.login">Advanced Search</md-button>
      </md-list-item>
    </md-list>
 </md-content>
</md-sidenav>
