<div layout="row" layout-padding>
  <md-input-container ng-repeat="filter in vm.filters | filter: {type: 'dropdown'}" flex class="md-block">
      <label>{{filter.title}}</label>
      <md-select ng-model="vm.dropdownFilters[filter.slug]" ng-change="vm.toggleFilter(vm.dropdownFilters[filter.slug])">
          <md-option ng-value="">None</md-option>
          <md-option ng-repeat="item in filter.children" ng-value="item">{{item.title}}</md-option>
      </md-select>
  </md-input-container>
</div>
<div layout="row" layout-wrap>

        <md-button ng-repeat="filter in vm.filters | filter: {type: 'icon'}" ng-class="{'md-raised': vm.inSelection(filter)}" ng-click="vm.toggleFilter(filter)" layout="column" layout-align="center center" class="md-primary">
            <div hide-sm hide-md class="md-tile-content">
                <md-icon md-svg-src="/img/icons/filter/{{filter.icon}}.svg" class="md-48"></md-icon>
            </div>
            <div class="md-tile-content">{{filter.title}}</div>
        </md-button>

</div>
