<md-card>
    <md-toolbar class="md-table-toolbar md-default" layout-padding>

        <div layout="row" layout-align="space-between start">
            <md-input-container class="md-icon-float md-block">
                <label>NGO suchen</label>
                <md-icon class="material-icons">search</md-icon>
                <input ng-model="vm.listFilter.search" type="text">
            </md-input-container>

            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
                <md-input-container>
                    <label>Published</label>
                    <md-select ng-model="vm.listFilter.published">
                        <md-option ng-value="">All</md-option>
                        <md-option ng-value="true">Yes</md-option>
                        <md-option ng-value="false">No</md-option>
                    </md-select>
                </md-input-container>
            </div>


            <span flex></span>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
                <md-button class="md-raised md-icon-button md-primary" ng-click="vm.add()" layout="row" layout-align="center center">
                    <i class="material-icons">add</i>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="vm.listOrderByColumn" md-on-reorder="vm.onOrderChange">
            <tr md-row>
                <th md-column class="icon"></th>
                <th md-column md-order-by="organisation">NGO Name</th>
                <th md-column md-order-by="published">Published</th>
                <th md-column>Offers</th>
                <th md-column>Users</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-repeat="ngo in vm.filteredNgos =
            (vm.ngos | filter: vm.listFilter.search
                     | ngoPublished: vm.listFilter.published)
                     | limitTo: vm.listPagination.limit : (vm.listPagination.page-1)*vm.listPagination.limit">
                <td md-cell><md-button ng-click="vm.edit(ngo)" class="md-icon-button"><md-icon>edit</md-icon></md-button></td>
                <td class="md-cell">{{ngo.organisation}}</td>
                <td class="md-cell">
                    <md-switch ng-model="ngo.published" ng-change="vm.togglePublished(ngo)"
                               aria-label="Publish/Unpublish NGO"></md-switch>
                </td>
                <td md-cell>
                  {{ngo.offers.length}}
                </td>
                <td md-cell>
                  <a ui-sref="{{'cms.ngos.users({id:'+ngo.id+'})'}}">{{ngo.users.length}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.listPagination.limit" md-page="vm.listPagination.page" md-total="{{vm.filteredNgos.length}}"></md-table-pagination>

</md-card>
