<md-content class="Page-Container nHeader">
	<div layout="row">
		<div flex="95" flex-offset="5" class="nHeader-container">
			<div layout="row" layout-align="space-between center">
					<div ui-sref="app.landing"><md-icon md-svg-src="/img/newhere-logo_white.svg" class="newHere-logo"></md-icon></div>
					<!-- <div>
						<ul>
							<li>DE</li>
							<li>EN</li>
							<li>FR</li>
							<li>FI</li>
							<li>FA</li>
						</ul>
					</div> -->
					<div layout="row" layout-align="space-between center">
						<!-- <div layout="row" layout-align="center center" style="margin-right:2em">
							<span>Visit us</span>
							<md-button class="md-icon-button" href="#" target="_blank"><i class="fa fa-facebook"></i></md-button>
							<md-button  class="md-icon-button" href="#" target="_blank"><i class="fa fa-twitter"></i></md-button>
						</div> -->
						<user-menu></user-menu>
					</div>
			</div>
		</div>
	</div>
</md-content>
<div class="nHeader-spacer"></div>
