<form ng-submit="vm.save()">
    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Icon</label>
            <input type="text" ng-model="vm.category.icon">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Title</label>
            <input type="text" ng-model="vm.category.translation.title">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Description</label>
            <textarea ng-model="vm.category.translation.description"></textarea>
        </md-input-container>
    </div>

    <md-button type="submit" class="CmsCategoryForm-submit md-primary md-raised">Save</md-button>
</form>