<div layout-padding>
<form ng-submit="vm.save()">
    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Icon</label>
            <input type="text"  ng-model="vm.category.icon" placeholder="choose an icon...">
        </md-input-container>
    </div>
    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Parent Category</label>
            <md-select ng-model="vm.category.parent_id">
                <md-option ng-repeat="category in vm.categories" ng-value="{{category.id}}">{{category.title}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Title</label>
            <input type="text" ng-model="vm.category.title" required placeholder="name me...">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Description</label>
            <textarea ng-model="vm.category.description" placeholder="what am i about..?"></textarea>
        </md-input-container>
    </div>

    <md-button type="submit" class="CmsCategoryForm-submit md-primary md-raised">Save</md-button>
</form>
</div>
