<form ng-submit="vm.save()" name="categoryForm">
    <div layout="row" layout-padding>
        <md-input-container class="md-block">
            <label>Icon</label>
            <input type="text" ng-model="vm.category.icon" required>
        </md-input-container>
        <md-input-container class="CmsCategoryForm-inputContainer">
            <label>Parent Category</label>
            <md-select ng-model="vm.category.parent_id">
                <md-option ng-value="null">None</md-option>
                <md-option ng-if="category.id != vm.category.id" ng-repeat="category in vm.categories" ng-value="category.id">{{category.title}}</md-option>
            </md-select>
        </md-input-container>
        <span flex></span>
        <div layout="row" layout-align="center center">
            <md-menu ng-if="vm.category.id">
                <md-button aria-label="Open translation menu" class="md-raised"  layout="row" layout-align="center center" ng-click="$mdOpenMenu($event)">
                  <i class="material-icons">add</i> Translation
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="language in vm.languages">
                        <md-button ng-click="vm.addTranslation(language.language)">
                            {{language.i18n}} ({{language.language}})
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="categoryForm.$invalid">Save</md-button>
        </div>
    </div>
    <md-tabs md-dynamic-height  md-autoselect md-selected="vm.activeTransTab" class="md-primary" ng-if="vm.category.translations.length">
        <md-tab label="{{translation.locale}}" ng-repeat="translation in vm.category.translations">
            <md-content class="md-padding white-bg">
                <div>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input type="text" ng-model="translation.title" required>
                    </md-input-container>
                </div>
                <h4 class="md-subhead">Description</h4>
                <text-angular ng-model="translation.description"></text-angular>
            </md-content>
        </md-tab>
    </md-tabs>
    <md-content class="md-padding white-bg" ng-if="!vm.category.translations.length">
        <div>
            <md-input-container class="md-block">
                <label>Title</label>
                <input type="text" ng-model="vm.category.title" required>
            </md-input-container>
        </div>
        <h4 class="md-subhead">Description</h4>
        <text-angular ng-model="vm.category.description"></text-angular>
    </md-content>
</form>
