<md-toolbar md-theme="whitey">
    <div class="md-toolbar-tools">
        <md-button aria-label="Back" ng-click="vm.goBack()">
            <md-icon>chevron_left</md-icon>
            <span>Back</span>
        </md-button>
        <md-icon class="big-icon" md-svg-src="{{vm.CategoryService.category.image.src }}"></md-icon>
        <small>{{vm.CategoryService.category.title}}</small>
        <span flex></span>
        <md-button aria-label="More" ng-click="vm.showFilter()">
            <md-icon>filter_list</md-icon>
            Filter
        </md-button>
    </div>
</md-toolbar>
