<div class="Page-container greyed" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Meine Organisation</span>
            </h2>
        </div>
    </md-toolbar>

    <div flex-gt-sm="70" flex flex-offset-gt-sm="15" layout-padding>
        <md-card>
            <md-tabs md-dynamic-height>
                <md-tab label="Infos">
                    <ngo-detail></ngo-detail>
                </md-tab>
                <md-tab label="Meine Angebote">
                    <cms-offers-list></cms-offers-list>
                </md-tab>
                <md-tab label="Mitarbeiter">
                    <ngo-users-list></ngo-users-list>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>

</div>
