<div flex>
	<form name="newPasswordForm"  ng-submit="vm.setNewPassword(newPasswordForm.$valid)">
    <div>
      <md-input-container class="md-block">
        <label>{{ 'Neues Passwort' | translate }}</label>
        <input type="password" ng-model="vm.password" ng-minlength="6" name="password" required>
        <div ng-messages="newPasswordForm.password.$error">
          <div ng-message="required">{{ 'Das ist ein Pflichtfeld.' | translate }}</div>
          <div ng-message="minlength">{{ 'Mindestens {{count}} Zeichen nötig.' | translate: '{ count: 6 }'}}</div>
        </div>
      </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block">
            <label>{{ 'Passwort wiederholen' | translate }}</label>
            <input type="password" ng-model="vm.re_password" ng-minlength="6" name="re_password" required ng-pattern="(vm.password)">
            <div ng-messages="newPasswordForm.re_password.$error">
                <div ng-message="pattern">{{ 'Die Passwörter stimmen nicht überein!' | translate }}</div>
                <div ng-message="minlength">{{ 'Mindestens {{count}} Zeichen nötig.' | translate: '{ count: 6 }'}}</div>
            </div>
        </md-input-container>
    </div>

    <md-button type="submit" ng-disabled="newPasswordForm.$invalid" class="LoginForm-submit md-primary md-raised">{{ 'Passwort ändern' | translate }}</md-button>
	</form>
</div>
