<div flex>
	<form name="newPasswordForm"  ng-submit="vm.setNewPassword(newPasswordForm.$valid)">
    <div>
      <md-input-container class="md-block">
        <label>Neues Passwort</label>
        <input type="password" ng-model="vm.password" ng-minlength="6" name="password" required>
        <div ng-messages="newPasswordForm.password.$error">
          <div ng-message="required">Das ist eine Pflichtfeld.</div>
          <div ng-message="minlength">Mindestend 6 Zeichen nötig.</div>
        </div>
      </md-input-container>
    </div>
    <div>
			<md-input-container class="md-block">
				<label>Passwort wiederholen</label>
				<input type="password" ng-model="vm.re_password" ng-minlength="6" name="re_password" required ng-pattern="(vm.password)">
        <div ng-messages="newPasswordForm.re_password.$error">
            <div ng-message="pattern">Die Passwörter stimmen nicht überein!</div>
            <div ng-message="minlength">Mindestend 6 Zeichen.</div>
          </div>
      </md-input-container>
		</div>

		<md-button type="submit" ng-disabled="newPasswordForm.$invalid" class="LoginForm-submit md-primary md-raised">Passwort ändern</md-button>

	</form>

</div>
