<md-dialog>
    <form ng-submit="vm.assignSave()">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>{{ 'Angebot an NGO zuweisen' | translate }}</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>{{ '{{count}} Angebote ausgewählt' | translate: '{ count: vm.selectedOffers.length }' }}</p>
                <md-input-container flex>
                    <label>{{ 'NGO auswählen' | translate }}</label>
                    <md-select ng-model="vm.ngo" aria-label="{{ 'NGO auswählen' | translate }}">
                      <md-option ng-repeat="ngo in vm.ngos" ng-value="ngo">{{ngo.organisation}}</md-option>
                    </md-select>
                </md-input-container>
             </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">{{ 'Abbrechen' | translate }}</md-button>
            <md-button class="md-primary md-raised" type="submit">{{ 'Speichern' | translate }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
