<md-content class="nHeader">
    <div layout="row">
        <div flex class="nHeader-container">
            <div layout="row" layout-align="space-between center">
                <md-button class="md-icon-button" ng-click="vm.openMainMenu()">
                    <md-icon>menu</md-icon>
                </md-button>
                <md-button class="md-icon-button" ui-sref="app.start.categories" hide-xs>
                    <md-icon md-svg-src="/img/newhere-logo_white.svg" class="newHere-logo"></md-icon>
                </md-button>
                <span flex hide-xs></span>
                <locator flex flex-gt-md="25" ng-if="vm.showLocator"></locator>
                <md-button ng-if="vm.showNgoLink" ui-sref="app.ngoLanding">{{'NGO login / Angeboterstellung' | translate}}</md-button>
            </div>
        </div>
    </div>
</md-content>
<app-main-menu></app-main-menu>
