<span class="ngo-translation-item">
    <span ng-if="vm.translation.description != ''" ng-click="vm.translate()">
        <span class="title">
            {{vm.ngo.organisation | limitTo: 15}}<span ng-if="vm.ngo.organisation.length > 15">...</span>
        </span>
        <span class="description">
            {{vm.translation.description | limitTo: 40}}<span ng-if="vm.translation.description.length > 40">...</span>
        </span>
        <span class="version">
            {{ 'Version: {{version}}' | translate: '{ version: vm.translation.version }' }}
        </span>
    </span>
    <md-button ng-if="vm.translation.description == ''" ng-click="vm.translate()" class="md-icon-button" aria-label="{{ 'Übersetzen nach {{language}} ({{code}})' | translate : '{ translate: vm.language.i18n, code: vm.language.language }' }}">
        <md-icon>edit</md-icon>
    </md-button>
</span>
