<md-card>
    <md-toolbar class="md-table-toolbar md-default" layout-padding>

        <div layout="row" layout-align="space-between start">


            <md-input-container class="md-icon-float md-block">
                <label>Search</label>
                <md-icon class="material-icons">search</md-icon>
                <input ng-model="vm.filter.name" type="text">
            </md-input-container>
            <span flex></span>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
                <md-input-container>
                    <label>Confirmed</label>
                    <md-select ng-model="vm.filter.confirmed">
                        <md-option ng-value="">All</md-option>
                        <md-option ng-value="true">Yes</md-option>
                        <md-option ng-value="false">No</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button class="md-raised md-icon-button md-primary" ng-click="vm.add()" layout="row" layout-align="center center">
                <i class="material-icons">add</i>
            </md-button>
        </div>


    </md-toolbar>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.onOrderChange">
                <tr md-row>
                    <th md-column></th>
                    <th md-column md-order-by="name">Name</th>
                    <th md-column md-order-by="email">Email</th>
                    <th md-column md-order-by="confirmed">Confirmed</th>
                    <th md-column md-order-by="roles">Roles</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr ng-repeat="user in vm.filteredUser = (vm.users | filter: vm.filter) | limitTo: vm.query.limit : (vm.query.page-1)*vm.query.limit">
                    <td md-cell><md-button ng-click="vm.edit(user)" class="md-icon-button"><md-icon>edit</md-icon></md-button></td>
                    <td md-cell>{{user.name}}</td>
                    <td md-cell>{{user.email}}</td>
                    <td md-cell>
                        <md-switch  class="md-primary" ng-model="user.confirmed" ng-change="vm.save(user, 'confirmed')" aria-label="User aktivieren/deaktivieren?"></md-switch>
                    </td>
                    <td md-cell>
                        <md-chips ng-model="user.roles" readonly="true">
                            <md-chip-template>
                                <span>{{$chip.display_name}}</span>
                            </md-chip-template>
                        </md-chips>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.filteredLanguages.length}}" md-on-paginate="vm.onPaginationChange"></md-table-pagination>
</md-card>
