<md-card>
    <md-toolbar class="md-table-toolbar md-default" layout-padding>

        <div layout="row" layout-align="space-between start">
            <md-input-container class="md-icon-float md-block">
                <label>Search</label>
                <md-icon class="material-icons">search</md-icon>
                <input ng-model="vm.filter.language" type="text">
            </md-input-container>
            <span flex></span>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
                <md-checkbox ng-model="vm.filter.enabled" aria-label="Zeige nur aktivierte" ng-false-value="''">
                    show enabled
                </md-checkbox>
                <md-checkbox ng-model="vm.filter.published" aria-label="Zeige nur veröffentlichte" ng-false-value="''">
                    show public
                </md-checkbox>
            </div>
        </div>


    </md-toolbar>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.onOrderChange">
                <tr md-row>
                    <th md-column md-order-by="i18n">Sprache</th>
                    <th md-column md-order-by="language">Code</th>
                    <th md-column md-order-by="enabled">Aktiviert</th>
                    <th md-column md-order-by="published">Veröffentlicht</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr ng-repeat="language in vm.filteredLanguages = (vm.languages | filter: vm.filter) | limitTo: vm.query.limit : (vm.query.page-1)*vm.query.limit">
                    <td class="md-cell">
                        {{language.i18n}} <md-icon ng-if="language.default_language">grade</md-icon>
                    </td>
                    <td class="md-cell">{{language.language}}</td>
                    <td class="md-cell">
                        <md-switch ng-model="language.enabled" ng-change="vm.save(language, 'enabled')" aria-label="Sprache aktivieren/deaktivieren?"></md-switch>
                    </td>
                    <td class="md-cell">
                        <md-switch ng-model="language.published" ng-change="vm.save(language, 'published')" aria-label="Sprache veröffentlichen?"></md-switch>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.filteredLanguages.length}}" md-on-paginate="vm.onPaginationChange"></md-table-pagination>
</md-card>
