@import "../../../material/colors";

.offer-grid-list{
  margin-top: 20px;
}

.offer-grid-list md-grid-tile {
   cursor: pointer;
}

.offer-header{
  background-color: @blue;
}

.offer-container figure {
   align-items: stretch;
}

.offer-header figcaption {
   width: 100%;
}

.offer-header h4{
   padding-right: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.offer-container:hover{
  background-color: #efefef;
}

.offer-content{
  font-size: smaller;
  padding: 1em;
  padding-top: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.view-toggler{
  position:fixed;
  bottom:0px;
}
