<div ng-if="vm.showMap" layout="column">
    <map></map> <!--TODO: show map full height-->
    <md-button ng-if="vm.showMap" ng-click="vm.toggleMap()" flex class="md-primary md-raised btn-big">
        <md-icon>list</md-icon>
        Show List
    </md-button>
</div>

<div ng-if="!vm.showMap">
    <div layout="row" layout-wrap>
      <md-button ui-sref="app.start.categories.sub({slug: category.slug})"
                 class="big-thumb animate-repeat" ng-repeat="category in vm.category.children" flex="33" layout="column" layout-align="center center">
          <md-icon>menu</md-icon>
        {{category.title}}
      </md-button>
    </div>
    <md-grid-list class="offer-grid-list" flex-gt-sm="80" flex="90" flex-offset="5" flex-offset-gt-sm="10" ng-if="vm.showOffers"
            md-cols-xs="2" md-cols-sm="3" md-cols-md="2" md-cols-gt-md="2"
            md-row-height-gt-md="2:2" md-row-height="4:5"
            md-gutter="15px" md-gutter-gt-sm="8px" >
        <md-grid-tile class="offer-container" ng-repeat="offer in vm.offers" ng-click="vm.showOffer(offer.id)"">
            <md-grid-tile-header class="offer-header">
                <h4>
                    <md-icon>location_on</md-icon>
                    {{offer.title | limitTo: 50}} <span ng-if="offer.title.length > 50">...</span>
                </h4>
            </md-grid-tile-header>
            <span class="offer-content">
                {{offer.description  | limitTo: 180}}<span ng-if="offer.description.length > 180">...</span>
            </span>
        </md-grid-tile>
    </md-grid-list>




</div>

<div ng-if="vm.offers.length || vm.category.children.length" layout="row">
    <md-button ng-if="!vm.showMap" ng-click="vm.toggleMap()"hide-gt-sm  flex class="md-primary md-raised btn-big">
        <md-icon>map</md-icon>
        Explore Map
    </md-button>
</div>
