<div flex>
	<form ng-submit="vm.login()">
		<div>
			<md-input-container class="md-block">
				<label>Email</label>
				<input type="email" ng-model="vm.email" required>
			</md-input-container>
		</div>

		<div>
			<md-input-container class="md-block">
				<label>Password</label>
				<input type="password" ng-model="vm.password" required>
			</md-input-container>
		</div>

		<md-button type="submit" class="LoginForm-submit md-primary md-raised">Log in</md-button>

	</form>
	<div layout="row" layout-align="space-around center">
		<a ui-sref="app.ngo"  class="md-primary">Registrieren</a>
		<a ui-sref="app.forgotpassword" md-no-ink class="md-primary">Passwort vergessen?</a>
	</div>
</div>
