<md-content flex layout="column">
    <div ui-view="toolbar"></div>
    <md-content layout-gt-sm="row" layout="column" flex layout-fill ng-class="{'split-screen': $root.isSplit, 'show-details': $root.showDetails}">
        <md-content id="list-container" ng-show="!$root.showMap || $mdMedia('gt-sm')" flex flex-order="2" flex-order-gt-sm="1" ui-view="content" md-scroll-y class="anim-show"></md-content>
        <md-content id="map-container" flex flex-order="1" flex-order-gt-sm="2" layout="column" class="anim-show map-container">
            <map></map>
        </md-content>
        <div layout="row" class="view-toggler" ng-if="$root.showMap && !$root.isSplit" hide-gt-sm>
            <md-button  ng-click="$root.showMap = !$root.showMap" flex class="btn-bottom md-primary md-raised btn-big">
                <md-icon>list</md-icon>
                {{ 'Liste anzeigen' | translate }}
            </md-button>
        </div>
        <div ng-if="!$root.showMap && !$root.isSplit" layout="row" class="view-toggler" hide-gt-sm>
            <md-button ng-click="$root.showMap = !$root.showMap"  flex class="md-primary md-raised btn-big">
                <md-icon>map</md-icon>
                {{ 'Karte erkunden' | translate }}
            </md-button>
        </div>
    </md-content>
    <app-fiter-menu><app-fiter-menu>
</md-content>
