<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="Landing-cover" layout-align="center center">
        <img src="/img/newhere-logo.svg" />
        <!-- <div class="md-headline Landing-subtitle">Build your next powerful web app</div>
        <h1 class="md-display-3 Landing-heading"><strong>laravel angular</strong> <span class="Landing-headingLight">material starter</span></h1>
        <md-button class="md-raised md-large Landing-getStarted" href="https://laravel-angular.readme.io/docs/install" target="_blank">Get Started</md-button> -->
    </div>
    <div layout="column" layout-align="center center">
        <md-button ui-sref="app.ngoRegister" class="md-primary md-raised btn-big">{{ 'Mitmachen als NGO' | translate }}</md-button>
    </div>

    <div class="Landing-laravelAngular">
        <div class="Landing-ampersand" hide show-gt-sm>&amp;</div>
        <div layout="column" layout-gt-sm="row">
            <div flex flex-gt-sm="45" class="Landing-laravel" layout="row" layout-align="center center" layout-align-gt-sm="end center">
                <img src="/img/app-image.png" />
            </div>
            <div flex flex-gt-sm="55" class="Landing-angular" layout-align="center center">
                <div flex flex-gt-sm="70">
                <h2 class="md-display-2 Landing-laravelAngular-title">
                  {{ 'Ein Stadtplan</br>für geflüchtete</br>Menschen in Wien' | translate }}
                </h2>
                <div class="md-title Landing-laravelAngular-subtitle">{{ 'Eine leicht zu bedienende Eingabemaske ermöglicht es Institutionen und Organisationen den Stadtplan mit relevanten Angeboten zu befüllen. Um Barrieren für die Nutzung der Karte zu minimieren, ist die Benutzeroberfläche durch die Einbindung eines Piktogramm-basierten Navigationssystems weitgehend sprachunabhängig gestaltet.' | translate }}</div>
              </div>

            </div>
        </div>
    </div>
</div>
