<md-dialog>
    <form ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.sourceTranslation.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="row">
                <div>
                    <h3>{{ vm.sourceLanguage.i18n || 'de' }} ({{ vm.sourceLanguage.language || 'de' }})</h3>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="vm.sourceTranslation.title" readonly>
                    </md-input-container>

                    <h4 class="md-subhead">Description</h4>
                    <text-angular ng-model="vm.sourceTranslation.description" ta-disabled="true"></text-angular>

                    <span ng-if="vm.sourceTranslation.hasOwnProperty('opening_hours')">
                        <h4 class="md-subhead">Opening Hours</h4>
                        <text-angular ng-model="vm.sourceTranslation.opening_hours" ta-disabled="true"></text-angular>
                    </span>
                </div>
                <div>
                    <h3>{{ vm.language.i18n || 'de' }} ({{ vm.language.language || 'de' }})</h3>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="vm.translation.title" required>
                    </md-input-container>

                    <h4 class="md-subhead">Description</h4>
                    <text-angular ng-model="vm.translation.description"></text-angular>

                    <span ng-if="vm.sourceTranslation.hasOwnProperty('opening_hours')">
                        <h4 class="md-subhead">Opening Hours</h4>
                        <text-angular ng-model="vm.translation.opening_hours"></text-angular>
                    </span>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
