<md-card>
  <md-tabs md-dynamic-height>
    <md-tab>
      <md-tab-label>
        <md-icon>local_offer</md-icon> Offers
      </md-tab-label>
      <md-tab-body>
        <cms-offer-translation-table></cms-offer-translation-table>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon>list</md-icon> Categories
      </md-tab-label>
      <md-tab-body>
        <cms-category-translation-table></cms-category-translation-table>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon>filter_list</md-icon> Filters
      </md-tab-label>
      <md-tab-body>

      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-card>
