<div style="word-break: break-all" layout="row" layout-wrap ng-if="vm.categories.length">
  <md-button ui-sref="app.start.categories.sub({slug: category.slug})" class="big-thumb animate-repeat" ng-repeat="category in vm.categories" flex="33" layout="column" layout-align="center center">
      <md-icon md-svg-src="{{category.image.src }}"></md-icon>
    {{category.title}}
  </md-button>
</div>
<div  ng-if="!vm.categories.length" layout-fill layout="row" layout-align="center center">
<loader></loader>
</div>
