<div>
    <div class= "ngo-detail" >

        <h2>{{vm.ngo.organisation}}</h2>

        <div ng-if="vm.ngo.image">
            <img class="ngo-detail-image" ng-src="{{vm.ngo.image.dir+'/'+vm.ngo.image.filename}}">
        </div>

        <p ng-if="vm.ngo.contact_phone"><md-icon>phone</md-icon><a href="tel:{{vm.ngo.contact_phone}}">{{vm.ngo.contact_phone}}</a></p>

        <p ng-if="vm.ngo.website"><md-icon>insert_link</md-icon><a href="{{vm.ngo.website}}" target="_blank">{{vm.ngo.website}}</a></p>

        <p ng-if="vm.ngo.contact_email"><md-icon>mail</md-icon><a href="mailto:{{vm.ngo.contact_email}}">{{vm.ngo.contact_email}}</a></p>

        <p ng-if="vm.ngo.contact_person"><md-icon>account_box</md-icon><a href="mailto:{{vm.ngo.contact_person}}">{{vm.ngo.contact_person}}</a></p>

        <p ng-if="vm.ngo.street" ><md-icon>place</md-icon>{{vm.ngo.street}} {{vm.ngo.street_number}}</br>
            <span ng-if="vm.ngo.zip" class="offer-detail-address" >{{vm.ngo.zip}} {{vm.ngo.city}}</br></span>
        </p>

        <p ng-if="vm.ngo.description" class="ngo-detail-description"><md-icon>info</md-icon>{{vm.ngo.description}}</p>

    </div>
</div>