<md-card>
        <md-content layout="column" layout-gt-sm="row" flex layout-fill>
          <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-content>
                <cms-categories-list></cms-categories-list>
            </md-content>
          </md-sidenav>
          <md-content ui-view="details" layout="column" flex="80">
              <div flex layout="column" layout-align="center center" layout-padding>
                <div class="md-display-1">{{ 'Wähle eine Kategorie' | translate }}</div>
                <div class="md-subhead">{{ 'oder erstelle eine neue' | translate }}</div>
                <md-button ui-sref="cms.categories.details({id:'new'})" class="md-raised md-primary" layout="row" layout-align="center center">
                      <i class="material-icons">add</i> {{ 'Neue Kategorie' | translate }}
                </md-button>
              </div>
          </md-content>
        </md-content>
</md-card>
