<md-list class="no-line treeview" dnd-disable-if="!vm.options.allowDrop && vm.options.drag" dnd-list="vm.items" flex dnd-dragover="vm.onDragOver(event, index, external, type)" dnd-drop="vm.onDropComplete(event, index, item, external)">
	<md-list-item ng-class="{'meanwhile':item.id == 0, 'active': item.id == vm.active, 'child': vm.childSelected(item), 'checked': vm.selectedItem(item), 'unchecked' : !vm.selectedItem(item)}" dnd-draggable="item" dnd-effect-allowed="copyMove" dnd-moved="vm.onMovedComplete($index)" flex ng-repeat="(key,item) in vm.items">
		<div class="md-list-item-text" flex>
			<p layout-align="space-between center" layout="row">
				<md-button ng-click="vm.toggleSelection(item)" ng-if="item.id != 0 && !vm.options.editWeight && !vm.options.simple"  class="md-icon-button md-mega-mini" layout="column" layout-align="center center" ng-class="{'md-raised md-primary ': vm.selectedItem(item), 'md-default' : !vm.selectedItem(item) , 'child': vm.childSelected(item, vm.selection)}"><i class="material-icons">check</i></md-button>
				<span class="handle" ng-if="vm.options.drag && item.id != 0">
							<md-icon class="matrial-icons">more_vert</md-icon>
				</span>
				<span dnd-nodrag ng-click="vm.options.itemClick(item.id, item.title)" class="cursor">{{item.title}}</span>
				<span flex dnd-nodrag></span>

				<md-icon class="material-icons" ng-click="vm.onMovedComplete(key)" ng-if="vm.options.edit">close</md-icon>
				<md-icon dnd-nodrag class="material-icons toggler cursor " ng-if="!vm.options.simple">
					<i class="material-icons" ng-if="item.children.length" ng-click="vm.toggleExpansion(item)">{{ vm.isExpanded(item) ? 'expand_less' : 'expand_more' }}</i>
					<!--<i class="material-icons" ng-if="!item.children.length && item.id != 0 && vm.options.drag" ng-click="vm.addChildren(item)">add</i>-->
				</md-icon>
			</p>
			<treeview item="item" items="item.children" active="vm.active" selection="vm.selection" ng-if="item.children.length && vm.isExpanded(item)" options="vm.options"></treeview>
		</div>
	</md-list-item>
	<md-list-item ng-click="vm.options.addClick()" ng-if="vm.items.length == 0 && vm.options.drag && vm.options.allowDrop" class="meanwhile doAnim-fade">
		<h3 layout="column" layout-align="center center" style="width:100%;margin-right:1em;border:1px dashed #ccc;padding:1.5em;color:#ccc"><md-icon class="material-icons">vertical_align_bottom</md-icon>Drag Items here</h3>
	</md-list-item>
</md-list>
