<span class="filter-translation-item">
    <span ng-if="vm.translation.title != ''" ng-click="vm.translate()">
        <span class="title">
            {{vm.translation.title | limitTo: 15}}<span ng-if="vm.translation.title.length > 15">...</span>
        </span>
        <span class="description">
            {{vm.translation.description | limitTo: 40}}<span ng-if="vm.translation.description.length > 40">...</span>
        </span>
        <span class="version">
            Version: {{vm.translation.version}}
        </span>
    </span>
    <md-button ng-if="vm.translation.title == ''" ng-click="vm.translate()" class="md-icon-button" aria-label="Translate to {{vm.language.i18n}} ({{vm.language.language}})">
        <md-icon>edit</md-icon>
    </md-button>
</span>
