<md-content class="Page-container">
    <div class="cms-category-container" flex="90" flex-offset="5">
        <h1 class="md-headline">Kategorien</h1>

        <div layout="column" layout-gt-sm="row">
            <div flex="20" class="" layout-align="center center">
                <cms-category-list></cms-category-list>
            </div>
            <div flex="80" class="" layout-align="center center">
                <cms-category-form></cms-category-form>
            </div>
        </div>
    </div>
</md-content>
