<form name="ngoForm" ng-submit="vm.register()">
    <image-uploader ng-model="vm.ngo"></image-uploader>
    <div layout-gt-xs="row">
        <md-input-container class="md-block bigger"  flex-gt-xs>
            <label>{{ 'NGO' | translate }}</label>
            <input ng-model="vm.ngo.organisation" required>
        </md-input-container>
    </div>
    <div ng-if="!vm.ngo.editMode">
        <md-checkbox ng-if="vm.cms" ng-model="vm.ngo.useCmsAccount" aria-label="{{'Aktuellen Benutzer zuweisen' | translate }}" ng-false-value="''">
            {{'Aktuellen Benutzer zuweisen' | translate }}
        </md-checkbox>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{ 'Email' | translate }}</label>
                <input ng-model="vm.ngo.email" type="email" ng-required="!(vm.cms && vm.ngo.useCmsAccount)" ng-disabled="vm.cms && vm.ngo.useCmsAccount">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{ 'Passwort' | translate }}</label>
                <input name="password" ng-model="vm.ngo.password" type="password" minlength="5" ng-required="!(vm.cms && vm.ngo.useCmsAccount)" ng-disabled="vm.cms && vm.ngo.useCmsAccount">
                <div ng-messages="ngoForm.password.$error" ng-show="ngoForm.password.$dirty">
                    <div ng-message="minlength">{{ 'Mindestens %d Zeichen' | translate | sprintf: 5 }}</div>
                </div>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Passwort wiederholen' | translate }}</label>
            <input name="re_password" ng-model="vm.ngo.re_password" compare-to="vm.ngo.password" type="password" ng-required="!(vm.cms && vm.ngo.useCmsAccount)" ng-disabled="vm.cms && vm.ngo.useCmsAccount">
            <div ng-messages="ngoForm.re_password.$error" ng-show="ngoForm.re_password.$dirty">
                <div ng-message="compareTo">{{ 'Passwörter stimmen nicht überein' | translate }}</div>
            </div>
        </md-input-container>
        </div>
    </div>
    <md-input-container class="md-block">
        <label>{{ 'Webseite' | translate }}</label>
        <input ng-model="vm.ngo.website" type="url" placeholder="http://www.your-ngo.com">
    </md-input-container>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Kontakt' | translate }}</label>
            <input ng-model="vm.ngo.contact" placeholder="Max Mustermann">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Kontaktemail' | translate }}</label>
            <input ng-model="vm.ngo.contact_email" type="email" placeholder="email@ngo.com">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Kontakttelefon' | translate }}</label>
            <input ng-model="vm.ngo.contact_phone" ng-pattern="/^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$/" placeholder="+43 660 12345678">
        </md-input-container>
    </div>
    <div lyout-gt-sm="row">
        <md-autocomplete ng-init="vm.ngo.street=''" md-selected-item="vm.selectedItem" md-selected-item-change="vm.selectedItemChange(item)" md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.street+' '+item.number+', '+item.zip+' '+item.city"
                         md-min-length="2" md-floating-label="{{ 'Adresssuche' | translate }}" placeholder="z.B. Stephansplatz 1, 1010 Wien">
            <md-item-template>
                <span md-highlight-text="vm.searchText">{{item.street+' '+item.number+', '+item.zip+' '+item.city}}</span>
            </md-item-template>
            <md-not-found>
                {{ 'Keine passende Adresse gefunden!' | translate }}
            </md-not-found>
        </md-autocomplete>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Straße' | translate }}</label>
            <input ng-model="vm.ngo.street" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Hausnummer' | translate }}</label>
            <input ng-model="vm.ngo.street_number" type="text" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'Ort' | translate }}</label>
            <input ng-model="vm.ngo.city" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{ 'PLZ' | translate }}</label>
            <input ng-model="vm.ngo.zip" disabled>
        </md-input-container>
    </div>
    <md-input-container class="md-block">
        <label>{{ 'Beschreibung' | translate }}</label>
        <textarea ng-model="vm.ngo.description" md-maxlength="200" rows="3"></textarea>
    </md-input-container>

    <md-button type="submit" class="md-primary md-raised" ng-disabled="ngoForm.$invalid">{{ 'Speichern' | translate }}</md-button>
    <md-button class="md-primary" ng-click="vm.cancel()">{{ 'Abbrechen' | translate }}</md-button>
</form>
