<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()" flow-file-success="vm.assignImage($file, $message, $flow)" class="upload-container">
    <div class="image-prev no-image" ng-show="!$flow.files.length && !vm.item.image" flow-drop layout="row" layout-align="center center" flow-drag-enter="style={border:'4px dashed #357DBA'}" flow-drag-leave="style={}"
 ng-style="style">
        <div layout="column" layout-align="center center" class="cursor"  flow-btn>
          <md-icon>wallpaper</md-icon>
          <h3>{{vm.label}}</h3>
        </div>
    </div>
    <div class="image-prev" ng-show="$flow.files.length">
        <img flow-img="$flow.files[0]">
    </div>
    <div class="image-prev" ng-show="!$flow.files.length && vm.item.image">
        <img ng-src="{{vm.item.image.dir+'/'+vm.item.image.filename}}">
    </div>
    <div class="actions">
        <md-button class="md-raised" class="md-primary" flow-btn="">
          <md-icon>file_upload</md-icon>
        </md-button>
        <md-button class="md-raised" ng-show="$flow.files.length" ng-click="vm.resetImage($flow)"><md-icon>close</md-icon></md-button>
    </div>

    <md-progress-linear md-mode="determinate" ng-if="$flow.files[0].isUploading()" value="{{ ($flow.files[0].sizeUploaded() / $flow.files[0].size * 100) }}"></md-progress-linear>
</div>
