<div >
    <md-toolbar class="md-table-toolbar md-default" layout-padding ng-if="!vm.showfilter">
        <div layout="row" layout-align="space-between start">
            <h3>{{ 'Angebote' | translate }}</h3>
            <span flex></span>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
              <md-button ng-click="vm.showfilter = true" class="md-icon-button" layout="row" layout-align="center center">
                  <i class="material-icons">filter_list</i>
              </md-button>
              <md-button ng-if="vm.selectedOffers.length && !vm.cms" class="md-raised md-warn md-icon-button" ng-click="vm.remove()" layout="row" layout-align="center center">
                <md-tooltip md-direction="left" md-delay="250">Delete Orders</md-tooltip>
                  <i class="material-icons">delete</i>
              </md-button>
                <md-button class="md-raised md-icon-button md-primary" ui-sref="{{ vm.cms ? 'cms.offers.new' : 'app.offers.new' }}" layout="row" layout-align="center center">
                    <i class="material-icons">add</i>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" layout-padding ng-if="vm.showfilter">
        <div layout="row" layout-align="space-between start">
            <md-input-container class="md-icon-float md-block no-error">
                <label>{{ 'Suchen' | translate }}</label>
                <md-icon class="material-icons">search</md-icon>
                <input ng-model="vm.query.title" type="text"  ng-change="vm.getOffers()">
            </md-input-container>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
                <md-input-container>
                    <label>{{ 'Aktiviert' | translate }}</label>
                    <md-select ng-model="vm.query.enabled" ng-change="vm.getOffers()">
                        <md-option ng-value="">{{ 'Alle' | translate }}</md-option>
                        <md-option ng-value="true">{{ 'Ja' | translate }}</md-option>
                        <md-option ng-value="false">{{ 'Nein' | translate }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px" ng-if="vm.cms">
                <md-input-container>
                    <label>NGO</label>
                    <md-select ng-model="vm.query.ngo_id"  ng-change="vm.getOffers()">
                      <md-option ng-value="">{{ 'Alle' | translate }}</md-option>
                      <md-option ng-repeat="ngo in vm.ngos | orderBy: 'organisation'" ng-value="ngo.id">{{ngo.organisation}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <span flex></span>
            <div layout="row" layout-align="end center" ng-cloak style="font-size:16px">
              <md-button ng-click="vm.showfilter = false" class="md-icon-button" layout="row" layout-align="center center">
                  <i class="material-icons">close</i>
              </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-table-container >
        <table md-table md-row-select multiple ng-model="vm.selectedOffers" md-progress="vm.promise">
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getOffers" >
            <tr md-row>
                <th md-column class="icon"></th>
                <!-- TODO: ORDER BY TRANSLATED TITLE -->
                <th md-column md-order-by="id">{{ 'Angebot' | translate }}</th>
                <th md-column >{{ 'Adresse' | translate }}</th>
                <th md-column md-order-by="ngo_id"  ng-if="vm.cms">{{ 'NGO' | translate }}</th>
                <th md-column md-order-by="enabled"  ng-if="vm.cms">{{ 'Aktiviert' | translate }}</th>
                <th md-column class="icon">{{ 'Telefon' | translate }}</th>
                <th md-column class="icon">{{ 'Email' | translate }}</th>
                <th md-column class="icon">{{ 'Webseite' | translate }}</th>
            </tr>
            </thead>
            <tbody md-body>
              <!-- vm.filteredOffer = (vm.offers | filter: vm.filter) | limitTo: vm.query.limit : (vm.query.page-1)*vm.query.limit -->
            <tr md-row md-select="offer" ng-repeat="offer in vm.offers">
                <td md-cell><md-button ui-sref="{{ vm.cms ? 'cms.offers.detail({id:'+offer.id+'})' : 'app.offers.details({id:'+offer.id+'})' }}"class="md-icon-button md-accent md-hue-2"><md-icon>info</md-icon></md-button></td>
                <td md-cell><strong>{{offer.title}}</strong></td>
                <td md-cell>{{offer.street}} {{offer.streetnumber}} {{offer.streetnumberadditional}}, {{offer.zip}} {{offer.city}}</td>
                <!--<td md-cell>{{offer.ngo_id}}</td>-->

                <td md-cell  ng-if="vm.cms">
                  {{ offer.ngo.organisation}}
                  <!-- REMOVED SELECTOR FOR MUCH MORE RENDER SPEED

                  <md-select ng-model="offer.ngo_id" aria-label="Select NGO" ng-change="vm.updateNgo(offer)">
                    <md-option ng-repeat="ngo in vm.ngos" ng-value="ngo.id">{{ ngo.organisation}}</md-option>
                  </md-select> -->
                </td>
                <td class="md-cell"  ng-if="vm.cms">
                    <md-switch ng-model="offer.enabled" class="md-primary" ng-change="vm.toggleEnabled(offer)"
                               aria-label="{{ 'Angebot aktivieren/deaktivieren' | translate }}"></md-switch>
                </td>
                <td md-cell>
                  <div ng-if="offer.phone">
                  <md-tooltip>{{offer.phone}}</md-tooltip>
                  <a href="tel:{{offer.phone}}">
                    <md-icon>phone</md-icon>
                  </a>
                </div>
                </td>
                <td md-cell><div ng-if="offer.email"><md-tooltip md-direction="left">{{offer.email}}</md-tooltip><a href="mailto:{{offer.email}}"><md-icon>mail</md-icon></a></div></td>
                <td md-cell><div ng-if="offer.website"><md-tooltip  md-direction="left">{{offer.website}}</md-tooltip><a href="{{offer.website}}" target="_blank"><md-icon>insert_link</md-icon></a></div></td>
            </tr>
            </tbody>
        </table>

    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5,10,15,25,50,100]" md-page="vm.query.page" md-total="{{vm.count}}" md-on-paginate="vm.getOffers" md-page-select></md-table-pagination>

</div>
  <md-fab-speed-dial  ng-if="vm.cms" class="md-fling fixed bottom" ng-show="vm.selectedOffers.length" md-open="vm.menu.isOpen" md-direction="up">
       <md-fab-trigger>
         <md-button aria-label="menu" class="md-fab md-warn">
           <md-tooltip md-direction="left" md-delay="250">{{ 'Angebote bearbeiten' | translate }}</md-tooltip>
           <md-icon>edit</md-icon>
         </md-button>
       </md-fab-trigger>
       <md-fab-actions>
         <md-button class="md-raised md-fab md-warn md-hue-2 md-mini" ng-click="vm.remove()" layout="row" layout-align="center center">
           <md-tooltip md-direction="left" md-delay="250">{{ 'Angebote löschen' | translate }}</md-tooltip>
             <i class="material-icons">delete</i>
         </md-button>
         <md-button class="md-raised md-fab  md-warn md-mini" ng-click="vm.bulkToggleEnabled(false)" layout="row" layout-align="center center">
            <md-tooltip md-direction="left" md-delay="250">{{ 'Angebote deaktivieren' | translate }}</md-tooltip>
             <i class="material-icons">lock</i>
         </md-button>
         <md-button  class="md-raised md-fab  md-accent md-mini" ng-click="vm.bulkToggleEnabled(true)" layout="row" layout-align="center center">
            <md-tooltip md-direction="left" md-delay="250">{{ 'Angebote aktivieren' | translate }}</md-tooltip>
             <i class="material-icons">lock_open</i>
         </md-button>
         <md-button  class="md-raised md-fab  md-default  md-mini" ng-click="vm.assignNgo()" layout="row" layout-align="center center">
           <md-tooltip md-direction="left" md-delay="250">{{ 'NGO zuweisen' | translate }}</md-tooltip>
             <i class="material-icons">business</i>
         </md-button>

       </md-fab-actions>
     </md-fab-speed-dial>
