<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="95" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between center">
				<div ui-sref="cms.dashboard">New Here CMS</div>
				<span flex></span>
				<div layout="row" layout-align="center stretch">
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.dashboard">Dashboard</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.categories">Categories</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.offer-translations">Offer-Translations</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.languages">Languages</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.users">Users</a> 
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.roles">Roles</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.ngos">NGOs</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="cms.offers">Offers</a>
				</div>
				<user-menu></user-menu>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
