<form ng-submit="vm.register()">
    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>{{ 'Name' | translate }}</label>
            <input type="text" ng-model="vm.name">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>{{ 'Email' | translate }}</label>
            <input type="email" ng-model="vm.email">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>{{ 'Passwort' | translate }}</label>
            <input type="password" ng-model="vm.password">
        </md-input-container>
    </div>

    <md-button type="submit" class="RegisterForm-submit md-primary md-raised" ng-disabled="vm.sending">{{ 'Registrieren' | translate }}</md-button>
</form>