<div flex>
    <form ng-submit="vm.resetPassword()" name="vm.resetForm" novalidate>
        <div>
            <md-input-container class="md-block">
                <label>{{ 'Email' | translate }}</label>
                <input type="email" ng-model="vm.email" name="email" required>
            </md-input-container>
        </div>
        <md-button type="submit" class="LoginForm-submit md-primary md-raised" ng-disabled="vm.sending">{{ 'Link zusenden' | translate }}</md-button>
    </form>
</div>