<!-- <a hide-xs ng-if="!vm.isAuthenticated()" class="DemoHeader-link md-subhead" ui-sref="app.login">Login</a> -->
<md-menu ng-if="!vm.isAuthenticated()">
    <md-button aria-label="Open user menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>exit_to_app</md-icon>&nbsp;Login
    </md-button>
    <md-menu-content width="4">
        <md-content layout-padding>
        <login-form></login-form>
      </md-content>
    </md-menu-content>
</md-menu>
<md-menu ng-if="vm.isAuthenticated()">
    <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>menu</md-icon>
    </md-button>
    <md-menu-content width="3">
        <md-menu-item>
            <md-button>
                <md-icon md-menu-align-target>person</md-icon>
                Profile
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button  ui-sref="app.offers">
                <md-icon>library_books</md-icon>
                Offers
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="app.ngo">
                <md-icon >business</md-icon>
                Organisation
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="vm.logout()">
                <md-icon >power_settings_new</md-icon>
                Logout
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
