<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z1 md-sidenav-left main">
  <md-toolbar md-theme="custom">
    <md-button layout="row" layout-align="center center" class="md-toolbar-tools" ui-sref="cms.dashboard">
      <h1><md-icon md-svg-src="/img/newhere-logo_white.svg" class="newHere-logo"></md-icon></h1>
    </md-button>
  </md-toolbar>
  <cms-menu></cms-menu>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar md-theme="custom" layout="row" class="" layout-align="end center">
      	<user-menu></user-menu>
        <md-button hide-gt-sm ng-click="$mdSidenav('left').toggle();" aria-label="Menu">
            <i class="material-icons">menu</i>
        </md-button>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view="main"></div>
    </md-content>
</div>
